<!-- prettier-ignore -->
{% extends 'base.html' %}
{% block title %} My Tasks {% endblock title %}
{%block main %}
<div class="my-tasks-list">
  <h1>My Tasks</h1>
  {% if my_tasks.all|length > 0 %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>Due date</th>
        <th>Is completed</th>
      </tr>
    </thead>
    <tbody>
      {% for task in my_tasks.all %}
      <tr>
        <td>{{task.name}}</td>
        <td>{{task.start_date}}</td>
        <td>{{task.due_date}}</td>
        <td>{{task.iscompleted|yesno}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>You have no tasks</p>
  {% endif %}
</div>
{% endblock main %}
